section {
  display: flex;
}

textarea {
  flex: 0 0 700px;
  height: 165px;
  margin: 0;
  padding: 10px;

  background: rgb(211, 244, 255);
  box-shadow: 10px 10px 0 #9696ff;
  border: none;
  resize: none;

  font-family: Helvetica;
}